#welcome{
    display: grid;
    grid-template-columns: 350px 1fr;
    width: 100%;
    height: 100vh;
    .welcome-menu{
        background: white;
        width: 350px;
        padding: 50px;
        position: relative;
        .logo{
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            img{
                max-width: 100px;
            }
        }
       .menu{
        margin-bottom: 50px;
        .menu-title{
            text-transform: uppercase;
            color: #0971ce;
            font-weight: 700;
            font-size: 1.2 rem;
            border-bottom: 1px solid #e2eaef;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        ul.links{
            li{
                a{
                    color: black;
                    font-weight: 700;
                    text-decoration: none;
                    margin-bottom: 1.4rem;
                    display: block;
                    font-size: 1.1rem;
                    transition: color .5s ease-in-out;
                    &:hover{
                        color: red;
                    }
                }
            }
        }
        .social-icons{

        }
    }
    .social-icons{
        display: flex;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            height: 30px;
            width: 30px;
            background: #c2c8cc;
            font-size: .9rem;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    .location{
      align-self: center;
      position: absolute;
      bottom: 50px;  
      .address{
        color: #7a8d99;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .phone-number{
        a{
            color: #0971ce;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    }
}
    .welcome-jumbo{
        max-width: calc(100vw-350px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(246, 247, 17);
        background: radial-gradient(ellipse at center, rgba(246, 247, 17, 1) 0%, rgba(49, 143, 23, 1) 100%, rgba(252, 176, 69, 1) 100%);
        width: 100%;
        overflow: hidden;
        padding: 100px;
        .status{
            display: inline-block;
            padding: 10px 15px;
            font-size: .8rem;
            font-weight: 700;
            color: white;
            background: black;
            border-radius: 5px;
            align-self: flex-start;
            margin-bottom: 10px;
        }
        h1{
            font-size: 4rem;
            font-weight: 900;
            align-self: flex-start;
            color: white;
            margin-bottom: 50px;
        }
        .meal{
            max-width: 700px;
            width: 100%;
            // animation: moveUpandDown 1.5s linear infinite;
            position: relative;
        }
        // // @keyframes moveUpandDown {
        // //     0%, 100%{
        // //         bottom: 0;
        // //     }
        // //      60%{
        // //         bottom: 40px;
        // //     }
        // }
    }
}
#information{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh;
    .restaurant-image{
        overflow: hidden;
        height: 100%;
        img{
            width: 100%;
        }
    }
    .info{
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .paragraphs{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 20px;
            line-height: 1.7;
            color: #525e66;
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }
        .about-link{
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: black;
            font-weight: 700;
            span{
                margin-right: 20px;
            }
            .circle-right{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: rgba(49, 143, 23, 1);
                .fa-chevron-right{
                    color: white;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
#food-preview{
    background: #f4f8fb;
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }
    .button-rounded{
        background: rgba(49, 143, 23, 1);
        color: white;
        display: inline-block;
        padding: 15px;
        border-radius: 30px;
        margin: 0 auto;
        margin-bottom: 150px;

    }
    .food-slider{
        width: 100%;
        max-width: 1200px;
        display: flex;

        .slide{
            width: 20%;
            position: relative;
            height: 550px;
            cursor: pointer;
            &:hover{
                .background{
                    background: rgba(170, 200, 52, 1);
                    transform: translate3d(0, -100px, 0);
                }
                .content{
                    .food-title{
                        color: white;
                    }
                    .food-description{
                        color: white;
                    }
                }
            }
            .background{
                background: white;
                height: 100%;
                top: 0;
                bottom: 0;
                z-index: 1;
                position: absolute;
                width: 100%;
                transition: transform .3s ease-in-out;
            }
            .food-image{
                img{
                    max-width: 200px;
                    width: 95%;
                }
            }
            .content{
                position: absolute;
                z-index: 2;
                padding: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: all .3s ease-in-out;
                .food-title{
                    font-size: 2rem;
                    font-weight: 900;
                    margin-bottom: 3rem;
                    color: rgba(49, 143, 23, 1);
                }
                .food-description{
                    font-size: .8rem;
                    font-weight: 400;
                    margin-bottom: 3rem;
                    line-height: 1.8;
                    color: #7a8d99;
                }
            }
    }
}
}